button.control_btn{
  border: none;
  background-color: unset;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  min-width: 24px;
  &.with_action{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    &.other_month{
      color: #999;
    }
    &.selected{
      background: #333333;
      color: #fff;
    }
    .normal{
      display: block;
    }
    .active{
      display: none;
    }
    &:hover{
      background: #C4C4C4;
    }
    &:active{
      background: #333333;
      color: #fff;
      .normal{
        display: none;
      }
      .active{
        display: block;
      }
    }
  }
}

.datepicker_box{
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 24px;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;

  //width: 288px;// todo remove
  .datepicker_wrapper{
    position: relative;
    .selector_month_year{
      display: flex;
      margin-bottom: 24px;
      .month{
        display: flex;
        align-items: center;
        margin-right: 16px;
      }
      .year{
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        .control_btn{
          .down{
            display: block;
            &.active{
              display: none;
            }
          }
          .up{
            display: none;
          }
          &.open{
            .up{
              display: block;
              &.active{
                display: none;
              }
            }
            .down{
              display: none;
            }
          }
        }
      }
    }
    .month_days{
      .week_row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 24px;
        margin-bottom: 24px;
        .day{
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .years_container{
      position: absolute;
      width: 100%;
      background: #fff;
      top: 48px;
      height: calc(100% - 48px);
      overflow-y: scroll;
      &.hidden{
        display: none;
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 20px;
        //border: 3px solid orange;
      }
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;

      .years_wrapper{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-row-gap: 16px;
        justify-content: space-between;
        .year{
          width: 56px;
          border-radius: 18px;
          height: 32px;
        }
      }
    }
    .controls_buttons{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .control_btn{
        &:not(:last-child){
          margin-right: 16px;
        }
      }
    }
  }
}
