*{
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: #333333;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  .popup{
    top: 228px;
    position: relative;
    width: 388px;
    height: 224px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    .popup_content{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 24px;
      .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 16px;
      }
      .description{
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 8px;
        display: block;
      }
      .input_date{
        width: 340px;
        height: 48px;
        border: 1px solid #E1E0E0;
        border-radius: 10px;
        padding: 16px;
        outline: none;
      }
    }
  }
}
